

.modalWrapper {
    $borderRadius: 6px;
    $highlightColorHue: 200;
    $barBackgroundColor: hsl(0, 0%, 30%, 0.5);


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .modalPanel {
        width: 400px;
        background-color: hsla(0deg, 0%, 0%, 0.7);
        backdrop-filter: blur(10px);
        box-shadow: 0 1px 3px hsla(0deg, 0%, 0%, 0.3), 0 3px 2px hsla(0deg, 0%, 0%, 0.2);

        display: flex;
        flex-direction: column;

        border-radius: $borderRadius;
        
        animation: appear 0.5s ease;
        
        @keyframes appear {
            from {transform: scale(0.7); }
            to {transform: scale(1);}
        }

        * {
            box-sizing: border-box;
            color: inherit;
            font: inherit;
            border: none;
            background-color: transparent;
        }

        > * {padding: 0.5rem}

        .modalTitle{
            background-color: $barBackgroundColor;
            border-radius: $borderRadius $borderRadius 0 0;
            letter-spacing: 1.5px;
            text-transform: uppercase;
        }
        
        .actionBar {
            background-color: darken($barBackgroundColor, 10);
            border-radius:  0 0 $borderRadius $borderRadius;
            display: flex;
            justify-content: flex-end;

            .submitButton {
                background-color: hsl(0, 0%, 20%, 0.5);
                border-radius: $borderRadius;
                margin-left: 0.5rem;
            }

            .cancelButton {opacity: 0.6;}

            .submitButton, .cancelButton {
                padding: 0.2rem 0.4rem;

                &:hover {cursor: pointer;}
            }
        }

        .fieldsWrapper {
            flex-grow: 1;
            overflow-y: auto;
        }

        .inputRow {
            margin-bottom: 1.4rem;

            label {
                margin-bottom: 0.7rem;
                display: inline-block;
                font-weight: 600;
            }

            input {
                border-bottom: 1px solid hsl($highlightColorHue, 100%, 50%, 0.3);
                width: 100%;
                
                outline-offset: 0px;
                outline: 0 solid hsl($highlightColorHue, 100%, 50%, 0);

                transition-property: outline-offset, outline-color, border-bottom;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                
                &:focus {
                    outline: 2px solid hsl($highlightColorHue, 100%, 50%, 0.5);
                    outline-offset: 2px;
                    border-bottom-color: transparent;
                }
            }
        }
    }
}

