<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Explorer</title>

    <!-- CONONICAL_LINK -->
    <link rel="canonical" href="https://maximmaeder.com/file-explorer-with-vue-js/" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="vueapp" class="container">

        <header>
            <button @click="goUp" :disabled="path == ''">Back</button>
            <input type="text" v-model="path" placeholder="Path">


            <button class="btn-flat" @click="addFolder()">Add Folder</button>
            <button class="btn-flat" @click="addFile()">Add File</button>
            <button class="btn-flat" @click="deleteItem()" :disabled="focusedItemExists">Delete</button>
        </header>

        <main>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, key) in getTree()" :class="{current: key == current}" @click="current=key"
                        @dblclick="openAction(key, item)">

                        <td>{{ item.type }}</td>
                        <td>
                            <input type="text" :value="key" @change="ev => nameChangeRequest(ev, key)">
                        </td>
                        <td>
                            {{JSON.stringify(item.content).length}} Bytes
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div v-if="getTree()[current]?.type == 'file'">
            <h2>Edit File <i>{{ current }}</i></h2>
            <textarea v-model="getTree()[current].content"></textarea>
        </div>

        
        

    </div>
    <script src="index.js" type="module"></script>
</body>

</html>