* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.mdEdit {
    /* SET Height for Text Areas */
    height: 2em;
    background-color: rgb(255, 255, 255);
    outline: 2px ridge rgba(50, 104, 220, 0.2);
    transition: outline 0.5s ease;
    line-height: 2em;
}

.mdEdit:focus-within {
    /* box-shadow: 0 0 5px rgb(181, 181, 181); */
    outline: 2px ridge rgba(50, 104, 220, 1);
}

.mdEdit>* {
    height: 100%;
    font-size: 1em;
    padding: 0;
    padding-left: 0.5em;
    width: 100%;
    overflow: auto;
}

.mdEdit div * {
    margin-bottom: 0.1em;
    line-height: 0.5em;
}

.mdEdit div a{
    color: rgba(50, 104, 220, 1);
}

.mdEdit div code {
    color: rgba(50, 104, 220, 1);
    background-color: rgb(240, 240, 240);
    padding: 0.4em;
}
.mdEdit div img {
    max-width: 95%;
}

.mdEdit div {
    white-space: pre-wrap;
}

.mdEdit:focus-within>div {
    display: none;
}

.mdEdit:focus-within :is(input, textarea) {
    display: initial;
}

.mdEdit input,
.mdEdit textarea {
    display: none;
    font: inherit;
    border: none;
    overflow-x: auto;
    resize: none;
}
.mdEdit textarea {
    font-family: consolas;
}

.mdEdit input:focus,
.mdEdit textarea:focus {
    border: none;
    outline: none;
}