.tourElementWrapper {
    .panel {
        position: fixed;
        top: 100px;
        left: 100px;
        background-color: hsla(0, 0%, 100%, 0.1);
        backdrop-filter: blur(5px);
        box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.3), 0 3px 2px hsla(0, 0%, 0%, 0.2);
        border-radius: 4px;
        padding: 1rem;
        width: 250px;
        font-family: 'Segoe Ui';

        color: white;
    
        transition-property: top left;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        
        h2 {margin-top: 0; margin-bottom: 0.2rem;}

        p {margin-top: 0;}

        a {color: inherit;}
        
        .buttonBar {
            display: flex;
            justify-content: space-between;
    
            button {
                font: inherit;
                background-color: hsl(220, 10%, 79%);
                border: 1px solid hsl(220, 10%, 50%);
                border-radius: 4px;
                
                &:hover {
                    border-color: hsla(220, 10%, 50%, 0);
                    cursor: pointer;
                }
            }
        }
    }
    
    .indicator {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    
        transition-property: clip-path;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
}
